<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142910034384-qrgcavd5ulnrj194qn433fklhultfrah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142910034384-qrgcavd5ulnrj194qn433fklhultfrah</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ih1SAAJNIfQLJg3v_yGnRnkyR5yWbqA</string>
	<key>GCM_SENDER_ID</key>
	<string>142910034384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geektech.HomeWork-N3--5-</string>
	<key>PROJECT_ID</key>
	<string>homework-n3</string>
	<key>STORAGE_BUCKET</key>
	<string>homework-n3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142910034384:ios:6cd134dd038a0d97c1e9d5</string>
</dict>
</plist>